1. In the data given below,
  - find the boolean mask where value is nan
  - remove the row with missing data.

In [2]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1


print(df1)
print("\nboolean mask where value is nan:\n",df1.isnull())
print("\nRemove the row with missing data:\n",df1.dropna())

                   A         B         C         D   F    E
2021-01-01  0.781337  0.943853  0.083622 -0.821434 NaN  1.0
2021-01-02 -1.295243 -1.353751 -0.798581  1.570594 NaN  1.0
2021-01-03 -0.643716 -0.935026 -0.789246  1.497257 NaN  NaN
2021-01-04 -0.542863  0.745427 -0.033671 -1.735976 NaN  NaN

boolean mask where value is nan:
                 A      B      C      D     F      E
2021-01-01  False  False  False  False  True  False
2021-01-02  False  False  False  False  True  False
2021-01-03  False  False  False  False  True   True
2021-01-04  False  False  False  False  True   True

Remove the row with missing data:
 Empty DataFrame
Columns: [A, B, C, D, F, E]
Index: []

2. In the data given below,fill the missing data with 20.

In [3]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

print(df1)
print("\nFilling the missing data with 20:\n",df1.fillna(value = 20))

                   A         B         C         D   F    E
2021-01-01 -0.759723 -0.148147 -0.634706 -0.269154 NaN  1.0
2021-01-02 -1.121143  0.958929  0.624229 -0.143740 NaN  1.0
2021-01-03 -0.685284  0.458360 -1.483162 -0.802276 NaN  NaN
2021-01-04 -0.111619 -0.775582 -0.326057  0.529835 NaN  NaN

Filling the missing data with 20:
                    A         B         C         D     F     E
2021-01-01 -0.759723 -0.148147 -0.634706 -0.269154  20.0   1.0
2021-01-02 -1.121143  0.958929  0.624229 -0.143740  20.0   1.0
2021-01-03 -0.685284  0.458360 -1.483162 -0.802276  20.0  20.0
2021-01-04 -0.111619 -0.775582 -0.326057  0.529835  20.0  20.0

3. From the data given below,
  - break the data in to pieces from 0 t0 2 ,3 t0 7
  - concatenate the pieces.
  - concatenate the pieces along axis 1
  - label each as 'a' and 'b' respectively and perform concatenation.

In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4))
df
#please provide your answer below this line

print(df)
pieces = [df[:3],df[3:8]]
print("\nPieces of data from 0 to 2 ,3 to 7:\n",pieces[0],"\n",pieces[1])
print("\nConcatenated pieces:\n",pd.concat(pieces))
print("\nconcatenate the pieces along axis 1:\n",pd.concat(pieces, axis = 1))
a = pieces[0]
b = pieces[1]
print("\nConcatination of a and b:\n",pd.concat([a,b]))

          0         1         2         3
0 -0.316019  0.202974 -1.206935 -0.690373
1  1.144046 -0.044370  1.159533 -0.828569
2 -0.220284  1.519344  0.423404  0.542551
3 -0.461183  0.451216  0.130236  0.664216
4  1.034236  0.603683  0.203605  0.140704
5  1.236516 -0.664090  0.452371  1.308823
6  0.549202  0.353866  0.597235 -0.290993
7  0.234201  0.207558  1.300013  0.381333
8 -0.588741  0.997172  0.278997 -0.958286
9  0.806851  0.150263  1.803262  0.311205

Pieces of data from 0 to 2 ,3 to 7:
           0         1         2         3
0 -0.316019  0.202974 -1.206935 -0.690373
1  1.144046 -0.044370  1.159533 -0.828569
2 -0.220284  1.519344  0.423404  0.542551
           0         1         2         3
3 -0.461183  0.451216  0.130236  0.664216
4  1.034236  0.603683  0.203605  0.140704
5  1.236516 -0.664090  0.452371  1.308823
6  0.549202  0.353866  0.597235 -0.290993
7  0.234201  0.207558  1.300013  0.381333

Concatenated pieces:
           0         1         2         3
0 -0.316019  0.202974 -1.206935 -0.690373
1  1.144046 -0.044370  1.159533 -0.828569
2 -0.220284  1.519344  0.423404  0.542551
3 -0.461183  0.451216  0.130236  0.664216
4  1.034236  0.603683  0.203605  0.140704
5  1.236516 -0.664090  0.452371  1.308823
6  0.549202  0.353866  0.597235 -0.290993
7  0.234201  0.207558  1.300013  0.381333

concatenate the pieces along axis 1:
           0         1         2  ...         1         2         3
0 -0.316019  0.202974 -1.206935  ...       NaN       NaN       NaN
1  1.144046 -0.044370  1.159533  ...       NaN       NaN       NaN
2 -0.220284  1.519344  0.423404  ...       NaN       NaN       NaN
3       NaN       NaN       NaN  ...  0.451216  0.130236  0.664216
4       NaN       NaN       NaN  ...  0.603683  0.203605  0.140704
5       NaN       NaN       NaN  ... -0.664090  0.452371  1.308823
6       NaN       NaN       NaN  ...  0.353866  0.597235 -0.290993
7       NaN       NaN       NaN  ...  0.207558  1.300013  0.381333

[8 rows x 8 columns]

Concatination of a and b:
           0         1         2         3
0 -0.316019  0.202974 -1.206935 -0.690373
1  1.144046 -0.044370  1.159533 -0.828569
2 -0.220284  1.519344  0.423404  0.542551
3 -0.461183  0.451216  0.130236  0.664216
4  1.034236  0.603683  0.203605  0.140704
5  1.236516 -0.664090  0.452371  1.308823
6  0.549202  0.353866  0.597235 -0.290993
7  0.234201  0.207558  1.300013  0.381333