1. Given index=["India","Pakistan","Bangladesh","Srilanka","china","Nepal"] and data=[1,3,5,np.nan,6,8] . Create a table with the "index" as indices and data as values.

      Expected output

        India         1.0
        Pakistan      3.0
        Bangladesh    5.0
        Srilanka      NaN
        China         6.0
        Nepal         8.0
        Name: myseries, dtype: float64

In [2]:
#please type your answer below this line.


import numpy as np
import pandas as pd
index=["India","Pakistan","Bangladesh","Srilanka","China","Nepal"]
data=[1,3,5,np.nan,6,8]
print(pd.Series(data,index, name='series'))

India         1.0
Pakistan      3.0
Bangladesh    5.0
Srilanka      NaN
China         6.0
Nepal         8.0
Name: series, dtype: float64

2. Create a data 'dates' starting from 2021-01-01 with range 6. and create a random 6x4 array and a list=('ABCD').now create a dataframe with 'dates' as index and list as the column and data as the datas of this table.


  Expected output

                        A	       B	      C	      D
    2021-01-01	-0.429358	0.779826	0.389625	0.248792
    2021-01-02	-1.044721	0.272807	-0.370437	1.177273
    2021-01-03	-0.961394	-0.525376	0.120843	0.470060
    2021-01-04	1.842266	-0.551049	0.588390	-0.326937
    2021-01-05	0.986198	0.391301	-0.084837	-0.855573
    2021-01-06	-1.531207	0.905463	-0.099024	0.589219

In [8]:
#please type 

import numpy as np
import pandas as pd
dates = pd.date_range('2021-08-01',periods=6)
dataframe = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
dataframe

                   A         B         C         D
2021-08-01 -0.254141  0.217958  0.312243 -0.602240
2021-08-02 -0.492490 -2.375311  1.393089  1.208278
2021-08-03 -0.325937 -0.779959 -0.215617  2.323334
2021-08-04 -0.682555 -0.215480 -0.121086 -0.892449
2021-08-05 -1.066339  0.000690 -1.660722  1.384105
2021-08-06  0.831323  0.379592  0.170951  0.922344